<p style="color: green"><%= notice %></p>

<%= render @blog %>

<div>
  <%= link_to "수정", edit_blog_path(@blog) %> |
  <%= button_to "삭제", @blog, method: :delete, data: { confirm: 'Are you sure?' } %> | 
  <%= link_to "뒤로가기", blogs_path %>
</div>
<hr>
<h3>댓글</h3>
<div id="comments">
  <% @blog.comments.each_with_index do |comment, index| %>
    <div>
      <p>
        <span><%= index+1 %>.</span>
        <%=comment.comment%>
        <span>
          <%= button_to "삭제", [comment.blog, comment], method: :delete, data: { confirm: 'Are you sure?' }  %>
        </span>
      </p>
    </div>
  <% end %>
</div>

<hr>

<h3>댓글 작성</h3>
<%= render 'comments/form' %>